.App-header {
  background-color: #559eff;
  padding: 1px;
  color: white;
  text-align: center;
  margin-bottom: 20px; 
}

.tasks {
  display: flex;
  flex-direction: column;
  background: #a1d2ff;
  border-radius: 4px;
  padding: 5px;
}

.task {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}